{% load static %}
 
<div class='row footer'>	
	<div class='row trial'>
		<div class='col-lg-12'>
			<b>Trail another Bootcamp</b>
		</div>
	</div>
	
	<div class='container-fluid'>
		<div class="row image-row">
			<div class="col-lg-6 col-xs-12">
				<div class='column'>
					<a href="#"><p><img src="{% static 'images/layer-115.png' %}" style="width:100%"></p></a>
				</div>
				<div class='column'>
					<p><img src="{% static 'images/mobile-developer-bootcamp.png' %}" style="width:150%"></p>
				</div>
			</div>

			<div class="col-lg-6 col-xs-12">
				<div class='column'>
					<a href="#"><img src="{% static 'images/layer-114.png' %}" style="width:100%"></a>
				</div>
				<div class='column'>
					<img src="{% static 'images/software-engineer-bootcamp.png' %}" style="width:150%">
				</div>
			</div>
		</div>
	</div>
</div>	